.tabs {
  overflow: hidden;
  position: relative;
  margin: 120px 0 110px 0;
  @include breakpoint(md-down){
    margin: 80px 0;
  }
  @include breakpoint(sm-down){
    margin: 50px 0;
  }

  .tab-list {
    @include flexbox;
    @include justify-content(space-between);
    position: relative;
    padding: 0;
    font-family: $font-family-n;
    font-size: 18px;
    margin-left: auto;
    margin-bottom: 70px;
    @include breakpoint(xs){
      @include flex-direction(column);
      @include align-items(center);
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: -18px;
      right: 0;
      width: 100%;
      height: 2px;
      background: #EFC7BF;
      @include breakpoint(xs){
        display: none;
      }
    }

    li {
      position: relative;
      margin-left: 0px;
      list-style: none;
      transition: all .5s ease-in-out;
      @include breakpoint(md-lg) {
        font-size: 13px;
      }
      @include breakpoint(xs){
        margin-bottom: 25px;
        text-align: center;
      }

      a {
        position: relative;
        font-weight: 700;
        text-transform: uppercase;
        color: $text-color;
        text-decoration: none;
        transition: all .5s ease-in-out;

        &:after {
          content: '';
          position: absolute;
          z-index: 2;
          bottom: -18px;
          right: 0;
          width: 100%;
          height: 2px;
          @include breakpoint(xs){
            bottom: -7px;
          }
        }
      }
    }

    .active {
      a {
        color: $red;

        &:after {
          background: $red;
          transition: all .5s ease-in-out;
        }
      }

    }
  }
}