footer {
  background-color: #303030;
}

.content-footer {
  padding: 37px 0;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include breakpoint(sm-down) {
    @include flex-direction(column);
  }
  @include breakpoint(mxs){
    padding: 50px 0;
  }

  .copyright {
    @include flexbox;
    font-family: $font-family;
    font-weight: 400;
    color: #A3A2A2;
    @include breakpoint(md-lg) {
      max-width: 500px;
      text-align: center;
    }
    @include breakpoint(sm-down) {
      order: 2;
      margin-top: 45px;
    }
    @include breakpoint(xs){
      font-size: 12px;
    }
  }

  .social-block {
    @include flexbox;
    @include breakpoint(sm-down) {
      order: 1;
      margin-top: 35px;
      .social-link:first-child{
        margin-left: 0;
      }
    }
    @include breakpoint(xs){
      margin-top: 50px;
    }


    .social-link {
      cursor: pointer;
      width: 24px;
      height: 20px;
      margin-left: 35px;
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .5s ease-in-out;
    }
  }
}